.full_screen{
  min-height: 100vh;
  background: white !important;
}
.plus-ultra{
  margin-top: 180px;
  font-size: 105px !important ;
  color: rgb(144, 31, 31);
  letter-spacing:-0.1em !important ;
}
.num-plus-ultra{
  font-size: 380px !important ;
}
.mt-10{
  margin-top: 120px !important;
}
.position_down{
  position: absolute;
  bottom: 5% !important;
}

.position_medio{
  position: absolute;
  bottom: 30% !important;
  left: 50% !important;
  margin-left: -25px;
}

body{
  color: black;
}
.btn-orange{
  color:black;
  border-color: black;
}
.big-btn{
  width: 50px;
  height: 50px;
}
.size-img{
  width: 90%;
  height: 90%;
}
.time-size{
  font-size: 40px;
}

.airport-img{
  width: 200px;
  height: 100px;
}

.mb-10{
  margin-bottom: 80px !important;
}

@media screen and (min-width: 800px) {
  .plus-ultra{
      font-size: 80px;
  }
  .num-plus-ultra{
    font-size: 150px;
  }
}
@media screen and (min-width: 680px) {
  .plus-ultra{
    font-size: 60px;
  }
  
  .num-plus-ultra{
  font-size: 130px;
  }
}
@media screen and (min-width: 500px) {
  .plus-ultra{
    font-size: 50px;
  }
  
  .num-plus-ultra{
  font-size: 100px;
  }
}

