<div class="container-fluid  full_screen " >
  <div id="rowCentral" class="row">
      <div *ngIf="sizeScreen > 575" class="col-sm-3">
           <div class="row">
               <div class="col-sm-12 text-center mt-2">
                   <img class="size-img" src="../assets/photo_2021-12-16_09-28-45.jpg" alt="">
               </div>
           </div>
      </div>
      <div class="col-sm-6 full_screen ">
          <div class="row">
           <div class="col-sm-12 text-center p-5">
               <img class="size-img" src="../assets/good_travel.png" alt="">
           </div>
          </div>
         <div class="row ">
           <div *ngIf="flagMsg" class=" mt-1 col-sm-12 text-center">
               <img  src="../assets/cuadro-vacio.png" alt="">
           </div>
           <div *ngIf="!flagMsg" class="  mt-5 col-sm-12 text-center">
               <h1 [ngClass]="[ num === 3 ? 'plus-ultra' : 'num-plus-ultra' ]" >
                   {{ num == 3 ? 'REVISIÓN' : num }}
               </h1>
               <h5 class="time-size" >
                   {{ time.toDateString() }} {{ time.toLocaleTimeString() }}
               </h5>
            </div>
         </div>
         <div class="text-center mt-3" [class.position_medio]="sizeScreen > 575" >
             <button type="button" (click)="add_random()" class="btn big-btn btn-orange rounded-circle "> <i class="bi bi-plus-lg"></i></button>
         </div>
         <div *ngIf="sizeScreen > 575" class="row">
               <div class="col-sm-12 text-center p-3 ml-3 mb-10 position_down ">
                   <img class="airport-img" src="../assets/aeropuerto-mexico.jpg" alt="">
               </div>
         </div>
      </div>
      <div *ngIf="sizeScreen > 575" class="col-sm-3 ">
          <div class="row">
              <div class="col-sm-12 text-center mt-3">
                  <img class="size-img" src="../assets/Logo-vigilantia.jpg" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 p-4 position_down">
                  <h6 class="m-0" > Powered by </h6>
                  <img class="size-img" src="./../../assets/EmQu-color-logo.png" >
              </div>
          </div>
      </div>
  </div>
</div>

